@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Rock+Salt&display=swap");

body {
  padding: 0;
  margin: 0;
}
html,
body,
#map {
  height: 100%;
  width: 100vw;
}

#map > div.leaflet-control-container > div.leaflet-bottom.leaflet-left > div {
  margin-bottom: 10px;
}

.info {
  font: 14px/16px Arial, Helvetica, sans-serif;
  background-color: rgba(41, 41, 41, 0.81);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.326);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  color: #ffff;
  border-top: 3px solid #29f4ee;
  border-right: 3px solid #ff3333;
  border-bottom: 3px solid #29f4ee;
  border-left: 3px solid #ff3333;
  animation: popIn 0.2s;
  /* color: #70707038; */
}
.info > div:nth-child(1) {
  width: 100%;
}
.info > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.info div:nth-child(2) div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info h2 {
  display: inline;
  padding-left: 4px;
  color: #ff3333 !important;
  font-family: "Rock Salt", cursive;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
}
.info h3 {
  display: inline;
  font-family: "Rock Salt", cursive;
  color: #ff3333 !important;
  font-weight: 800;
  font-style: normal;
  font-size: 12px;
}
.info h4 {
  margin: 0 0 5px;
  font-weight: 600;
}

.info p {
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  font-size: 12px;
}
.info hr {
  border: none;
  background-color: #ffffff;
  height: 0.5px;
  width: 100%;
}

.linea-vertical {
  border-left: 1px solid #c4c4c4;
  min-height: 40px;
}

.legend {
  line-height: 18px;
  color: #ffffff;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

button {
  background-color: transparent;
  color: #ffff;
  border: 2px solid #ffffff;
  padding: 8px 23px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}

button:disabled {
  background-color: #ffffff55;
  color: #b6b6b6; 
  border: 2px solid #ffffff55;
  cursor: auto;
}

button:hover {
  background-color: #ffffff55;
}

.link-modal {
  display: none;
  position: fixed;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.3s;
}

.link-modal-content {
  position: relative;
  width: 80%;
  animation: popIn 0.5s;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background-color: rgba(41, 41, 41, 0.81);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.326);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  color: #ffff;
  height: fit-content;
  border-top: 3px solid #29f4ee;
  border-right: 3px solid #ff3333;
  border-bottom: 3px solid #29f4ee;
  border-left: 3px solid #ff3333;
}

.link-modal-content img {
  width: 40%;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  #map > div.leaflet-control-container > div.leaflet-bottom.leaflet-left > div {
    margin-bottom: 40px;
  }
  button {
    background-color: transparent;
    padding: 8px 18px;
    font-size: 14px;
  }
  .link-modal-content img {
    width: 80%;
  }
}
